body {
    background-color:rgb(26, 26, 29);
    color:gainsboro; 

  }

button{
    height:100px;
    width:90%;
    background-color: rgb(29, 28, 35, 30);
    margin-left: 40px;
    border: 1px solid black;
    color: gainsboro;
    text-indent: 3px;
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
  background-color: gainsboro;
  color: black;
}

textarea{
  background-color: rgb(40, 39, 40, 37);
  width:90%;
  resize: none;
  color: gainsboro;
}

#textarea1{
  height: 600px;
}

html { overflow-x: hidden; }