body {
    background-color:rgb(26, 26, 29);
    color:gainsboro;
  }

.btn{
  width: 100%; 
  height: 100%; 
  background-color: rgb(195, 143, 255, 187); 
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0px;
  color: black;
  font-size: 120%;
}

.btn:hover {
  border-color: gainsboro;
  background-color: #a660fc;
  color: black;
}
  
#button1{
  height:100px;
  width:100%;
  background-color: rgb(29, 28, 35, 30);
  margin-left: 10px;
  border: 1px solid black;
  color: gainsboro;
  text-indent: 3px;
  text-align: center;
  transition-duration: 0.4s;
  font-size: 200%;
}

#lableName{
  text-align: right; 
  font-size: 200%; 
  color: gainsboro;
}

textarea{
  background-color: rgb(40, 39, 40, 37);
  width:90%;
  resize: none;
  color: gainsboro;
}

#noteName {
  font-size: 150%; 
  height: 50px;
}

#noteContent{
  height: 600px;
}

.card-body{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 0%;
  height: 100px; 
  width: 281px;
  background-color: rgb(29, 28, 35, 30);
  color: rgb(220, 220, 220);
  border-radius: 0px; 
  border: 1px solid black;
}

#notes{
  background-color: gray;
  width: 100%; 
  margin-left: 10px; 
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;  
}

#HomePage:link{
  color: gainsboro;
  text-decoration: none;
}

#HomePage:visited {
  color: gainsboro;
  text-decoration: none;
}

.card-text{
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-title{
  line-height: 80%; 
  margin: 0%;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-date{
  margin-bottom: 0%;
  font-size: 85%;
}

html { overflow-x: hidden; }